NODE_ENV=qa
PORT=4000

DATABASE_HOST=192.168.2.40
DATABASE_PORT=5432
DATABASE_NAME=tcdx-grc
DATABASE_USER=<secret>
DATABASE_PASSWORD=<secret>
DATABASE_SSL_MODE=disable

OIDC_ISSUER=<runtime-configuration>
OIDC_AUDIENCE=<runtime-configuration>
OIDC_JWKS_URI=<runtime-configuration>
OIDC_ALLOWED_ALGORITHMS=<runtime-configuration>
